/* Header */
header{
background-color: rgba(225, 138, 58, 0.78);
background-position: center;
background-size: cover;
}
/* Body */
body {
    background-color: #ebe6e1;
}
/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgba(225, 138, 58, 0.78);
    background-size: cover;
}
/* Main */
main{
    background-color: #ebe6e1;
}
/* Menú*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: cover;
    background-color: rgba(225, 138, 58, 0.78);
    padding: 5px;
    height: 10vh;
}
.menu__lista{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.menu__item{
    list-style: none;
}
.menu__item a{
    text-decoration: none;
    color: black;
}
.menu__img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
/* Portada */
.portada{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../Imagenes/Portada.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
}
.portada h1{
    font-family: Arial;
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
}
/* Entradas */
.entrada{
    display: table-cell;
    background-color: #C4C4C4;
    justify-content: space-around;
    border-radius: 5%;
}
.entrada__img {
    width: 80%;
    height: 70%;
    border-radius: 5%;
    padding: 10% 10% 10% 10%;
}
.entrada__titulo{
    text-align: center;
}
/* Formulario de contacto */
.contacto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    padding: 2%;
}
.form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    margin: 5% 0% 5% 30%;
}
.form__buttom{
    margin: 3% 0% 3% 40%;
}
.main__contact{
    background-color: #ebe6e1;
}
/* QUIEN SOY */
.perfil{
    display: flex;
    flex-direction: row;
    padding: 2%;
} 
.perfil__tit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    margin: 5% 0% 5% 7%;
}
.perfil__img{
    height: 15%;
    width: 25%;
    border-radius: 5%;
    align-self: center;
}
.perfil__text{
    background-color: #d4c9c9;
    align-self: center;
    margin: 5% 5% 10% 5%;
    padding: 2%;
    border-radius: 5%;
}

/* Blog */

#plantilla{
    display: grid;
    grid-template-areas:
    "nav nav"
    "blog blog"
    "entrada1 entrada4"
    "entrada2 entrada5"
    "entrada3 entrada6"
    "footer footer";
    grid-template-rows: auto auto 3fr 3fr 3fr auto;
    grid-template-columns: 50% 50%;
}
.nav{
    grid-area: nav;
}
#titulo{
    grid-area: blog;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    margin: 5% 0% 5% 7%;
}
.entrada2{
    height: 200px;
    margin: 7%;
    text-align: center;
    display: table-cell;
    background-color: #C4C4C4;
    justify-content: space-around;
    border-radius: 5%;
}
.foot{
    grid-area: footer;
}

/* Libros */

#plantilla2{
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "libro1 libro2 libro3 libro4"
    "footer footer footer footer";
    grid-template-rows: auto auto 70vh;
    grid-template-columns: 25% 25% 25% 25%;
}
.nav2{
    grid-area: nav;
}
#titulo2{
    grid-area: titulo;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    margin: 5% 0% 5% 7%;
}
.foot2{
    grid-area: footer;
}
.libro{
    height: 350px;
    margin: 7%;
    border-radius: 5%;
    text-align: center;
    background-color: #C4C4C4;
}
